# Virtual Environments
venv/
env/
.venv/

# IDEs / Editors
.vscode/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Testing & Coverage (New for v0.2.0)
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# doc files
docs/_build/

# Distribution / Build files
dist/
build/
*.egg-info/
.eggs/

# Datasets
data/

# OS files
.DS_Store